<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Conduit Example App</title>
    <link rel="icon" href="/images/logo.svg">
    <meta name="framework" content="conduit">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css?{{version}}">
    <script src="/js/conduit.js?v={{version}}"></script>
  </head>
  <body>
    <script>conduit.VIEWS = '{{views}}';</script>
    <script src="/js/routes.js?v={{version}}"></script>
  </body>
</html>
